<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="RegistrationConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="online_shoppingConnectionString" connectionString="Data Source=.;Initial Catalog=online_shopping;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="3"
            defaultUrl="Welcome.aspx"  protection="All">
       
      </forms>
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>


    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.net>
   
  </system.net>
</configuration>
